<div class="about-intro" random-backgroundcolor>
    <h3>Here's an explanation from <a href='https://en.wikipedia.org/wiki/Morse_code'>Wikipedia</a> about Morse Code.</h3>
    <div class='text-box'>Morse code is a method of transmitting text information as a series of on-off tones, lights, or clicks that can be
      directly understood by a skilled listener or observer without special equipment.
      The International Morse Code encodes the ISO basic Latin alphabet, some extra Latin letters,
      the Arabic numerals and a small set of punctuation and procedural signals (prosigns) as standardized
      sequences of short and long signals called "dots" and "dashes", or "dits" and "dahs", as in amateur radio
      practice. Because many non-English natural languages use more than the 26 Roman letters, extensions to the Morse
      alphabet exist for those languages.</div><br><br>
  </div>
  <div class="about-history" random-backgroundcolor>
    <div class='text-box'>In 1837, William Cooke and Charles Wheatstone in England began using an electrical telegraph that also used electromagnets in its receivers.
      However, in contrast with any system of making sounds of clicks, their system used pointing needles that rotated above alphabetical charts
       to indicate the letters that were being sent. In 1841, Cooke and Wheatstone built a telegraph that printed the letters from a wheel of
       typefaces struck by a hammer. This machine was based on their 1840 telegraph and worked well; however, they failed to find customers for
       this system and only two examples were ever built.<br><br>

On the other hand, the three Americans' system for telegraphy, which was first used in about 1844, was designed to make indentations on a paper
tape when electric currents were received. Morse's original telegraph receiver used a mechanical clockwork to move a paper tape. When an electrical
current was received, an electromagnet engaged an armature that pushed a stylus onto the moving paper tape, making an indentation on the tape.
When the current was interrupted, a spring retracted the stylus, and that portion of the moving tape remained unmarked.<br><br>

The Morse code was developed so that operators could translate the indentations marked on the paper tape into text messages.
In his earliest code, Morse had planned to transmit only numerals, and to use a codebook to look up each word according to
the number which had been sent. However, the code was soon expanded by Alfred Vail to include letters and special characters,
so it could be used more generally. Vail estimated the frequency of use of letters in the English language by counting the
movable type he found in the type-cases of a local newspaper in Morristown. The shorter marks were called "dots", and
the longer ones "dashes", and the letters most commonly used were assigned the shorter sequences of dots and dashes.<br><br>


Comparison of historical versions of Morse code with the current standard. 1. American Morse code as originally defined.
2. The modified and rationalized version used by Gerke on German railways. 3. The current ITU standard.
In the original Morse telegraphs, the receiver's armature made a clicking noise as it moved in and out of position to
mark the paper tape. The telegraph operators soon learned that they could translate the clicks directly into dots and
dashes, and write these down by hand, thus making the paper tape unnecessary. When Morse code was adapted to radio
communication, the dots and dashes were sent as short and long pulses. It was later found that people become more
proficient at receiving Morse code when it is taught as a language that is heard, instead of one read from a page.<br><br>

To reflect the sounds of Morse code receivers, the operators began to vocalize a dot as "dit", and a dash as "dah".
Dots which are not the final element of a character became vocalized as "di". For example, the letter "c" was then
vocalized as "dah-di-dah-dit".<br><br>

In the 1890s, Morse code began to be used extensively for early radio communication, before it was possible to transmit
voice. In the late 19th and early 20th centuries, most high-speed international communication used Morse code on telegraph
lines, undersea cables and radio circuits. In aviation, Morse code in radio systems started to be used on a regular basis
in the 1920s. Although previous transmitters were bulky and the spark gap system of transmission was difficult to use,
there had been some earlier attempts. In 1910 the US Navy experimented with sending Morse from an airplane. That same
year a radio on the airship America had been instrumental in coordinating the rescue of its crew. Zeppelin airships
equipped with radio were used for bombing and naval scouting during World War I, and ground-based radio direction
finders were used for airship navigation. Allied airships and military aircraft also made some use of radiotelegraphy.
However, there was little aeronautical radio in general use during World War I, and in the 1920s there was no radio system
used by such important flights as that of Charles Lindbergh from New York to Paris in 1927. Once he and the Spirit of
St. Louis were off the ground, Lindbergh was truly alone and incommunicado. On the other hand, when the first airplane
flight was made from California to Australia in the 1930s on the Southern Cross, one of its four crewmen was its radio
operator who communicated with ground stations via radio telegraph.<br><br>

Beginning in the 1930s, both civilian and military pilots were required to be able to use Morse code, both for use
with early communications systems and for identification of navigational beacons which transmitted continuous two- or
three-letter identifiers in Morse code. Aeronautical charts show the identifier of each navigational aid next to its location on the map.<br><br>

Radio telegraphy using Morse code was vital during World War II, especially in carrying messages between the warships
and the naval bases of the belligerents. Long-range ship-to-ship communication was by radio telegraphy, using encrypted
messages, because the voice radio systems on ships then were quite limited in both their range and their security.
Radiotelegraphy was also extensively used by warplanes, especially by long-range patrol planes that were sent out by
those navies to scout for enemy warships, cargo ships, and troop ships.<br><br>

In addition, rapidly moving armies in the field could not have fought effectively without radiotelegraphy, because
they moved more rapidly than telegraph and telephone lines could be erected. This was seen especially in the blitzkrieg
offensives of the Nazi German Wehrmacht in Poland, Belgium, France (in 1940), the Soviet Union, and in North Africa; by
the British Army in North Africa, Italy, and the Netherlands; and by the U.S. Army in France and Belgium (in 1944), and
in southern Germany in 1945.<br><br>

Morse code was used as an international standard for maritime distress until 1999, when it was replaced by the Global
Maritime Distress Safety System. When the French Navy ceased using Morse code on January 31, 1997, the final message
transmitted was "Calling all. This is our last cry before our eternal silence." In the United States the final
commercial Morse code transmission was on July 12, 1999, signing off with Samuel Morse's original 1844 message,
"What hath God wrought", and the prosign "SK".<br><br>

As of 2015 the United States Air Force still trains ten people a year in Morse.[ The United States Coast Guard
has ceased all use of Morse code on the radio, and no longer monitors any radio frequencies for Morse code transmissions,
including the international medium frequency (MF) distress frequency of 500 kHz. However the Federal Communications
Commission still grants commercial radiotelegraph operator licenses to applicants who pass its code and written tests.
Licensees have reactivated the old California coastal Morse station KPH and regularly transmit from the site under
either this Call sign or as KSM. Similarly, a few US Museum ship stations are operated by Morse enthusiasts.
  </div>
