<div class="home-intro" random-backgroundcolor>
  <div class='text-box'>
    Ever wonder what something would look like in Morse Code or just been bored
    and want to send your friends the most confusing text ever? Now is your chance!
  </div>
</div>
<div class="home-explanation" random-backgroundcolor>
  <div class='text-box'>With this translator you will be able to translate
    anything into Morse Code or from Morse Code to English. Simply type in
    what you want translated and watch the magic happen. Ok it's not really
    magic, in fact it's not even that complicated. The underlying program for
    the translation simply replaces any character you enter with it's correlating
    value. Pretty simple right?
  </div>
</div>
<div class="home-closing" random-backgroundcolor>
  <div class='text-box'>
    Anyways now that I've destroyed the mystery and made you cry for having ruined
    the illusion, why don't we get started?

  <div class="wrap"><a ui-sref="coder">
    <button class="clicker faster">Start Translating!</button>
    <div class="circle angled third" ></div></a>
  </div>
</div>
  </div>
</div>
